$primaryColor: #1b5bff;
$grey: #999999;
$errorColor: #b00020;
$font: "Roboto", sans-serif;

.textFieldWrapper {
    position: relative;
    .textField {
        position: relative;

        box-sizing: border-box;
        width: 200px;
        height: 48px;
        border: 1px solid;
        padding: 8px 16px;
        display: flex;
        border-radius: 4px;
        background-color: white;
        border-color: $grey;
        margin-bottom: 32px;
        z-index: 1;

        .label {
            position: absolute;
            top: 14px;
            left: 12px;
            font-family: $font;
            padding: 0 4px;
            background-color: white;
            color: $grey;
            transition: 0.1s;

            &_active {
                top: -7px;
                font-size: 12px;
            }
        }

        input {
            border: none;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            outline: none;
            font-family: $font;
            font-size: 16px;
        }

        &:hover {
            border-color: black;
            cursor: text;
        }

        &_focused,
        &_focused:hover {
            border-color: $primaryColor;
            box-shadow: 0px 0px 0px 1px $primaryColor;

            .label {
                color: $primaryColor;
            }
        }

        &_error,
        &_error:hover {
            border-color: $errorColor;

            .label {
                color: $errorColor;
            }
        }
    }

    .textField_focused.textField_error {
        box-shadow: 0px 0px 0px 1px $errorColor;
    }

    .infoTxt {
        color: $grey;
        position: absolute;
        left: 16px;
        top: calc(100% + 4px);
        font-size: 12px;
        z-index: 0;
    }

    .textField_error + .infoTxt {
        color: $errorColor;
    }
}
