.App {
    width: 100%;
    margin: auto;
}

h1 {
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 16px;
}

.card {
    border-radius: 4px;
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.textField {
    margin-bottom: 24px !important;
}

@media (min-width: 501px) {
    .App {
        width: 500px;
    }
}
