$backgroundColor: #1b5cff54;
$primaryColor: #1b5bff;

.progressBar {
    width: 100%;
    height: 4px;
    background-color: $backgroundColor;
    position: absolute;
    top: 0;

    .slider {
        background-color: $primaryColor;
        height: 100%;
        width: 0;
        position: absolute;
    }
}
