.login {
    h2 {
        margin-bottom: 8px;
    }

    .errorForm {
        height: 15px;
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f44336;
        font-size: 14px;
    }

    .buttons {
        display: flex;

        #loginButton {
            margin-left: auto;
        }
    }
}
