.signup {
    background-color: white;

    .textField {
        width: 100%;
    }

    .buttonWrapper {
        width: 100%;
        display: flex;
        .button {
            margin-left: auto;
        }
    }
}
